<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="stylesheets/index.css" />
</head>
<body>
  <div id="container">
   <table>
   <tbody>
   <tr>
   <td>
    <div class="left">
    <div id="background"></div>
    <h1><%= title %></h1>
    <p><%= description %></p>
    <!--readme-->
    </td>
    <td></td>
    </tr>
    <tr>
    <td>
		<div class="readme"><%= readme %></div>
    </div>
    </td>
    <td>
    <!--content-->
		<div class="content">

      <table class="code_stats">
        <% statistics.forEach(function(entry) { %>
        <tr>
          <td><%= entry[0] %></td>
          <td><%= entry[2] %></td>
          <td><span data-lang="<%= entry[2] %>"></span></td>
	  <td style="width:400px;"><div><span data-lang="<%= entry[2] %>" percent="<%= entry[0] %>" style="width: 0%;"></span><span><%= entry[1] %> sloc</span></div></td>
        </tr>
        <tr>
        <% }); %>
      </table>
     
      <ol>
        <% for (var i = 0, l = log.length; i < l; i++) { %>
        <% var entry = log[i]; %>
        <li><%= entry.date %>, <%= entry.author %>, <%= entry.subject %></li>
        <% } %>
      </ol>

  
    <div id="filebrowser">
      <div id="breadcrumb"></div>
      <div id="filelists"></div>
    </div>
  
    </div>
   </td>
   </tr>
   </tbody>
   </table>
  </div>
  <script src="javascript/jquery.min.js" type="text/javascript"></script>
  <script src="javascript/underscore-min.js" type="text/javascript"></script>
  <script src="javascript/moment.min.js" type="text/javascript"></script>
  <script src="javascript/filesize.js" type="text/javascript"></script>
  <script src="javascript/langstats.js" type="text/javascript"></script>
  <script src="javascript/file_browser.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function() { new file_browser("<%= user %>", "<%= repo %>", "docas/tree/docas.index"); })
    </script>
</body>
</html>
