/*--------------------- Layout and Typography ----------------------------*/
body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 15px;
  line-height: 22px;
  color: #252519;
  margin: 0; padding: 0;
}
a {
  color: #261a3b;
}
  a:visited {
    color: #261a3b;
  }
p {
  margin: 0 0 15px 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px 0 15px 0;
}
  h1 {
    margin-top: 40px;
  }
#container {
  position: relative;
}
#background {
  position: fixed;
  top: 0; left: 525px; right: 0; bottom: 0;
  background: #f5f5ff;
  border-left: 1px solid #e5e5ee;
  z-index: -1;
}
#jump_to, #jump_page {
  background: white;
  -webkit-box-shadow: 0 0 25px #777; -moz-box-shadow: 0 0 25px #777;
  -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px;
  font: 10px Arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
}
#jump_to, #jump_wrapper {
  position: fixed;
  right: 0; top: 0;
  padding: 5px 10px;
}
  #jump_wrapper {
    padding: 0;
    display: none;
  }
    #jump_to:hover #jump_wrapper {
      display: block;
    }
    #jump_page {
      padding: 5px 0 3px;
      margin: 0 0 25px 25px;
    }
      #jump_page .source {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        border-top: 1px solid #eee;
      }
        #jump_page .source:hover {
          background: #f5f5ff;
        }
        #jump_page .source:first-child {
        }
table td {
  border: 0;
  outline: 0;
}
  td.docs, th.docs {
    max-width: 450px;
    min-width: 450px;
    min-height: 5px;
    padding: 10px 25px 1px 50px;
    overflow-x: hidden;
    vertical-align: top;
    text-align: left;
  }
    .docs pre {
      margin: 15px 0 15px;
      padding-left: 15px;
    }
    .docs p tt, .docs p code {
      background: #f8f8ff;
      border: 1px solid #dedede;
      font-size: 12px;
      padding: 0 0.2em;
    }
    .pilwrap {
      position: relative;
    }
      .pilcrow {
        font: 12px Arial;
        text-decoration: none;
        color: #454545;
        position: absolute;
        top: 3px; left: -20px;
        padding: 1px 2px;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
      }
        td.docs:hover .pilcrow {
          opacity: 1;
        }
  td.code, th.code {
    padding: 14px 15px 16px 25px;
    width: 100%;
    vertical-align: top;
    background: #f5f5ff;
    border-left: 1px solid #e5e5ee;
  }
    pre, tt, code {
      font-size: 12px; line-height: 18px;
      font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
      margin: 0; padding: 0;
    }


/*---------------------- Syntax Highlighting -----------------------------*/
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
body .hll { background-color: #ffffcc }
body .c { color: #408080; font-style: italic }  /* Comment */
body .err { border: 1px solid #FF0000 }         /* Error */
body .k { color: #954121 }                      /* Keyword */
body .o { color: #666666 }                      /* Operator */
body .cm { color: #408080; font-style: italic } /* Comment.Multiline */
body .cp { color: #BC7A00 }                     /* Comment.Preproc */
body .c1 { color: #408080; font-style: italic } /* Comment.Single */
body .cs { color: #408080; font-style: italic } /* Comment.Special */
body .gd { color: #A00000 }                     /* Generic.Deleted */
body .ge { font-style: italic }                 /* Generic.Emph */
body .gr { color: #FF0000 }                     /* Generic.Error */
body .gh { color: #000080; font-weight: bold }  /* Generic.Heading */
body .gi { color: #00A000 }                     /* Generic.Inserted */
body .go { color: #808080 }                     /* Generic.Output */
body .gp { color: #000080; font-weight: bold }  /* Generic.Prompt */
body .gs { font-weight: bold }                  /* Generic.Strong */
body .gu { color: #800080; font-weight: bold }  /* Generic.Subheading */
body .gt { color: #0040D0 }                     /* Generic.Traceback */
body .kc { color: #954121 }                     /* Keyword.Constant */
body .kd { color: #954121; font-weight: bold }  /* Keyword.Declaration */
body .kn { color: #954121; font-weight: bold }  /* Keyword.Namespace */
body .kp { color: #954121 }                     /* Keyword.Pseudo */
body .kr { color: #954121; font-weight: bold }  /* Keyword.Reserved */
body .kt { color: #B00040 }                     /* Keyword.Type */
body .m { color: #666666 }                      /* Literal.Number */
body .s { color: #219161 }                      /* Literal.String */
body .na { color: #7D9029 }                     /* Name.Attribute */
body .nb { color: #954121 }                     /* Name.Builtin */
body .nc { color: #0000FF; font-weight: bold }  /* Name.Class */
body .no { color: #880000 }                     /* Name.Constant */
body .nd { color: #AA22FF }                     /* Name.Decorator */
body .ni { color: #999999; font-weight: bold }  /* Name.Entity */
body .ne { color: #D2413A; font-weight: bold }  /* Name.Exception */
body .nf { color: #0000FF }                     /* Name.Function */
body .nl { color: #A0A000 }                     /* Name.Label */
body .nn { color: #0000FF; font-weight: bold }  /* Name.Namespace */
body .nt { color: #954121; font-weight: bold }  /* Name.Tag */
body .nv { color: #19469D }                     /* Name.Variable */
body .ow { color: #AA22FF; font-weight: bold }  /* Operator.Word */
body .w { color: #bbbbbb }                      /* Text.Whitespace */
body .mf { color: #666666 }                     /* Literal.Number.Float */
body .mh { color: #666666 }                     /* Literal.Number.Hex */
body .mi { color: #666666 }                     /* Literal.Number.Integer */
body .mo { color: #666666 }                     /* Literal.Number.Oct */
body .sb { color: #219161 }                     /* Literal.String.Backtick */
body .sc { color: #219161 }                     /* Literal.String.Char */
body .sd { color: #219161; font-style: italic } /* Literal.String.Doc */
body .s2 { color: #219161 }                     /* Literal.String.Double */
body .se { color: #BB6622; font-weight: bold }  /* Literal.String.Escape */
body .sh { color: #219161 }                     /* Literal.String.Heredoc */
body .si { color: #BB6688; font-weight: bold }  /* Literal.String.Interpol */
body .sx { color: #954121 }                     /* Literal.String.Other */
body .sr { color: #BB6688 }                     /* Literal.String.Regex */
body .s1 { color: #219161 }                     /* Literal.String.Single */
body .ss { color: #19469D }                     /* Literal.String.Symbol */
body .bp { color: #954121 }                     /* Name.Builtin.Pseudo */
body .vc { color: #19469D }                     /* Name.Variable.Class */
body .vg { color: #19469D }                     /* Name.Variable.Global */
body .vi { color: #19469D }                     /* Name.Variable.Instance */
body .il { color: #666666 }                     /* Literal.Number.Integer.Long */

/* Docci Modules */
#filelist { position: relative; }
/*#filelist > table {
  position: absolute;
  width: 680px;
}*/

#filelist > table {
	border-radius: 3px;
	border: 1px solid #CACACA;
	border-collapse:collapse;
	margin:0;
	font-size: 13px;
	line-height: 30px;
}

#filelist > table thead td{
	line-height: 30px;
	padding-right:5px;
	text-shadow: 0 1px 0 white;
	border-bottom: 1px solid #D8D8D8;
	background: #FAFAFA;
	background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
	background: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
}

#filelist > table thead td:first-child{
	padding-right: 0;
}

/*#filelist > table thead td:first-child+td{
	width: 95px;
}

#filelist > table thead td:first-child+td+td{
	width: 40px;
}

#filelist > table thead td:first-child+td+td+td{
	width: 65px;
}

#filelist > table thead td:first-child+td+td+td+td{
	width: 100px;
}

#filelist > table thead td:first-child+td+td+td+td+td{
	width: 120px;
}*/
#filelist > table tbody td{
	border-bottom: 1px solid #CACACA;
	background-color:#F8F8F8;
	margin: 0;
}

/*#filelist > table tbody td:last-child{
	white-space:pre;
}*/

#filelist > table td.icon{
width: 18px;
height: 16px;
background:url(https://a248.e.akamai.net/assets.github.com/images/icons/dir.png) no-repeat 0 50% #F8F8F8;
}


/*liuzhengming*/
#container>h1,#container>p{
  padding:10px 25px 1px 50px;
}
/*readme*/
.readme{
  width:450px;
	min-height:5px;
	float:left;
	padding:10px 25px 1px 50px;
	text-align:left;
}
/*content*/
.content{
  width:745px;
	min-height:5px;
	float:left;
	padding-left:25px;
	padding-top:25px;
}
/*代码统计*/
.content>ol{
  border:1px solid #CACACA;
	background:#F8F8F8;
	box-shadow:1px 1px 1px #ccc;
	border-radius:2px;
}
.content>ol li{
	position:relative;
	width:100%;
	height:32px;
	line-height:32px;
  border-bottom:1px solid #CACACA;
	border-left:1px solid #CACACA;
	color: #000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-indent:5px;
}
.content>ol li:last-child{
  border-bottom:none;
}
.content>ol li span{
	position:absolute;
	/*float:right;*/
	display:inline-block;
	width :120px;
	height:100%; 
  border-right:1px solid #CACACA;
	text-align:right;
	padding-right:10px;
}
.content>ol li span:nth-child(1){
	top:0px;
	left:0px;
}
.content>ol li span:nth-child(2){
	top:0px;
	left:130px;
}
.content>ol li span:last-child{
	top:0px;
	left:260px;
	width :430px;
  border-right:none;
}
/*table上方导航连接*/
#breadcrumb{
  color:#999;
}
#breadcrumb span{
	color: #000;
	font-size: 18px;
	margin: 5px 0;
	font:18px/1.4 Helvetica,arial,freesans,clean,sans-serif;
	font-weight:bold;
}
#breadcrumb a,#breadcrumb>span:nth-child(1){
	font:18px/1.4 Helvetica,arial,freesans,clean,sans-serif;
	font-weight:bold;
	color: #4183C4;
	text-decoration: none;
	cursor:pointer;
}
/*table*/
#filelist{
	background: none repeat scroll 0 0 #EEEEEE;
	border-radius: 3px 3px 3px 3px;
	padding: 3px;
}

#filelist table{
	border-collapse:collapse;
	border-spacing:0;
	border: 1px solid #CACACA;
	border-radius: 3px 3px 3px 3px;
	margin: 0;
	width: 100%;
	font-family:Arial, Helvetica, sans-serif;
}
#filelist table thead tr{
	background:-webkit-linear-gradient(#FAFAFA,#EAEAEA);
	background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
  background: -ms-linear-gradient(#FAFAFA, #EAEAEA);
  background: -o-linear-gradient(#FAFAFA, #EAEAEA);
  background: linear-gradient(#FAFAFA, #EAEAEA);
	border-bottom: 1px solid #D8D8D8;
	color: #555555;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 6px 3px;
	text-align: left;
	text-shadow: 0 1px 0 #FFFFFF;
}
#filelist table thead tr td{
	background: none repeat scroll 0 0 #F8F8F8;
	border-bottom: 1px solid #EEEEEE;
	color: #484848;
	padding: 7px 3px;
	vertical-align: middle;
}
#filelist table tbody tr .icon{
	padding-left: 10px;
	padding-right: 2px;
	width: 17px;
}
#filelist .directory .icon{
  background: url(https://a248.e.akamai.net/assets.github.com/images/icons/dir.png) no-repeat 10px 50% #F8F8F8;
}
#filelist .file .icon{
  background: url(https://a248.e.akamai.net/assets.github.com/images/icons/txt.png) no-repeat 10px 50% #F8F8F8;
}
#filelist .document .icon{
  background: url(https://a248.e.akamai.net/assets.github.com/images/icons/sub.png) no-repeat 10px 50% #F8F8F8;
}
#filelist table tbody a{
  color: #4183C4;
	cursor:pointer;
	text-decoration:none;
}
#filelist table tbody a:hover{
	text-decoration:underline;
}
#filelist table tbody tr td:nth-child(2){
  width:110px;
	text-overflow:ellipsis;
	overflow:hidden;
}
#filelist table tbody tr td:nth-child(3){
  width:120px;
	text-overflow:ellipsis;
	overflow:hidden;
}
#filelist table tbody tr td:nth-child(3) span{
  width:50px;
	display:inline-block;
	text-align:right;
}
#filelist table tbody tr td:nth-child(3) span:nth-child(2){
  color:#ccc;
	font-size:10pc;
}
#filelist table tbody tr td:nth-child(4){
  width:105px;
	text-overflow:ellipsis;
	overflow:hidden;
}
#filelist table tbody tr td:nth-child(5){
  width:110px;
	text-overflow:ellipsis;
	overflow:hidden;
}
#filelist table tbody tr td:nth-child(6){
  width:260px;
	text-overflow:ellipsis;
	overflow:hidden;
}